@import '../../styles/variaveis';

.container{
    @include flexCenter(row);
    justify-content: space-between;
    background-color: $emphasis;
    height: 20vh;

    .title{
        @include flexCenter(row);
        justify-content: center;
        align-items: center;
        min-width: 30%;
        .link{
            font-size: 40px;
            color: $interactive;
            text-decoration: none;
        }
    }

    .nav{
        @include flexCenter(row);
        justify-content: space-around;
        min-width: 50%;
        align-items: center;
        color: $interactive;

        .link{
            font-size: 24px;
            text-decoration: none;
        }
    }
}

